.tag_type {
  background-color: gray !important;
}

main.page-content {
  font-size: 0.9em;
}

a.button-small {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-weight: normal;
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

ul.vocabulary-structure {
  font-size: 0.9em;
}
