tr {
  display: "table-row";
}

tr.metadata-section {
  border-top: double cadetblue thin;
  border-bottom: double cadetblue thin;
}

.metadata-section td {
  align-content: center;
  text-align: center;
  font-weight: bolder;
}

.metadata-section:hover {
  background-color: #f4f5f0;
}

.metadata-row.odd {
  background-color: #f6f5f0;
}

.metadata-key {
  width: 250px;
  font-weight: bold;
}

img.sample-image {
  float: right;
  height: 70px;
  margin: 0 0 15px 15px;
  vertical-align: sub;
}
